<div class="d-flex justify-content-between align-items-center">
  <h1><%= @task.title %></h1>
  <%= link_to '<p class="btn btn-outline-secondary my-2">Update task details<p/>'.html_safe, edit_task_path %>
</div>

<p class="alert alert-secondary mt-3 w-75"><%= @task.details %></p>

<% if @task.completed == true %>
  <p><input type="checkbox" <%= "checked" if @task.completed == true %> class="pe-none"> - This task is completed</p>
<% else %>
  <p><input type="checkbox" <%= "checked" if @task.completed == true %> class="pe-none"> - This task is not completed yet</p>
<% end %>

<%= link_to '<p class="btn btn-primary">Back to list<p/>'.html_safe, tasks_path %>
